@use 'vars';

.fieldset {
    &-legend {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        inline-size: 100%;
        column-gap: 16px;
        row-gap: 10px;
    }

    &__warning {
        display: none;
        color: vars.$warning;

        &--show {
            display: block;
        }
    }

    &-input {
        position: relative;
        display: flex;
        margin-block-start: 8px;
        block-size: 37px;

        &__icon {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            inline-size: 37px;
            block-size: 37px;
        }

        &__input {
            border-radius: 8px;
            padding-inline: 35px 8px;
            min-inline-size: 100%;
            inline-size: 100%;
            font-size: 2.4rem;
            text-align: end;
            background-color: vars.$very-light-grayish-cyan;
            box-sizing: border-box;

            &:out-of-range {
                outline-color: vars.$warning;
            }
        }
    }
}
