@use 'vars';

.select-tip-btn {
    position: relative;

    &__input {
        inline-size: 100%;
        block-size: 100%;
    }

    &__container {
        position: absolute;
        inset: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-size: 2.4rem;
        color: vars.$white;
        background-color: vars.$very-dark-cyan;
    }

    &__input:hover + &__container,
    &__input:focus-visible + &__container {
        color: vars.$very-dark-cyan;
        background-color: vars.$light-grayish-cyan;
    }

    &__input:checked + &__container {
        color: vars.$very-dark-cyan;
        background-color: vars.$strong-cyan;
    }
}