@use '../../scss/base' as *;

.selectTipBtn {
    position: relative;

    &__input {
        inline-size: 100%;
        block-size: 100%;
    }

    &__container {
        position: absolute;
        inset: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-size: 2.4rem;
        color: $white;
        cursor: pointer;
        background-color: $very-dark-cyan;
        user-select: none;
    }

    &__input:hover + &__container,
    &__input:focus-visible + &__container {
        color: $very-dark-cyan;
        background-color: $light-grayish-cyan;
    }

    &__input:checked + &__container {
        color: $very-dark-cyan;
        background-color: $strong-cyan;
    }
}
