@use '../../scss/base' as *;

.installationButton {
    position: absolute;
    inset-block-start: -1.2rem;
    inset-inline-start: calc(50% - 6.5rem);
    border-radius: 16px;
    padding-block: 8px;
    padding-inline: 12px;
    color: $white;
    background-color: $very-dark-cyan;

    &:hover {
        background-color: $strong-cyan;
    }
}
